<p>Developer profile under development. Please try later.</p>
<p>Email me when a developer profile will be ready: </p>
<form class="form-inline">
    <input name="email" type="email" size="12" placeholder="Enter email">
    <input type="hidden" name="login" value="<%= @developer.login %>">
    <input type="hidden" name="sig" value="<%= @developer.sig %>">
    <button type="submit" class="btn btn-default">OK</button>
</form>