<p>Developer profile under development. Please try later.</p>
<p>Email me when a developer profile will be ready: </p>
<form>
    <input name="email" type="text" size="10">
    <input type="hidden" name="login" value="<%= @developer.login %>">
    <input type="hidden" name="sig" value="<%= @developer.sig %>">
    <button type="submit">OK</button>
</form>