<p>Login or signature error. Use right link from MochiGames message</p>
<p>Link must be look like <i>http://oladium.com/developers/sign_up?login=&lt;YOUR NAME&gt;&sig=&lt;CODE&gt;</i></p>
<br>
<p>Email for communication: <a href="mailto:games@oladium.com">games@oladium.com</a></p>
