<div class="container">
    <div style="margin-bottom: 20px;">
        <div style="width: 468px; margin: 0 auto; text-align: center;">
            <script type="text/javascript">
                cpmoz_layer_banner = false;
                cpmoz_enable_pop = true;
                cpmoz_frequencyCap = -1;
                cpmoz_durl = '';
                cpmoz_enable_layer_pop = false;
                cpmoz_mobile_redirect = true;
                cpmoz_mobile_durl = '';
                cpmoz_max_dim = "0x0";
                cpmoz_default_url = '';
                cpmoz_banner_border = '#b7b7b7';
                cpmoz_banner_ad_bg = '#ffffff';
                cpmoz_banner_link_color = '#898989';
                cpmoz_banner_text_color = '#cc7744';
                cpmoz_banner_text_banner = true;
                cpmoz_banner_image_banner = true;
                cpmoz_network_logo = false;
                cpmoz_post_click_url = '';
            </script>
            <script type="text/javascript" src="http://adserving.cpmoz.com/showAd.php?nid=1130&amp;pid=213&amp;adtype=2&amp;sid=198"></script>
        </div>
    </div>
</div>