<% if @games.count > GamesController::GAMES_PER_PAGE

  @page = 0 unless @page
   unless @pages && @pages.to_i > 0
     @pages = (@games.count / GamesController::GAMES_PER_PAGE.to_f).ceil
   end
%>
    <% if @pages > 1 %>
        <div class="pagination pagination-centered">
            <ul>
                <% paginate_collection((0...@pages).to_a, @page, 10) do |page, index, left_arrow, right_arrow| %>
                    <li<%= page == @page ? ' class="active"'.html_safe : '' %>>
                        <a href="<%= url_for_params(:page => page + 1) %>"><%=
                            (if left_arrow
                               '&laquo;'
                             elsif right_arrow
                               '&raquo;'
                             else
                               (index + 1).to_s
                             end).html_safe
                        %></a>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
<% end %>