<% if @primary_games && @primary_games.size > 0 && @page.to_i == 0 %>
    <div class="primarySlider">
            <% @primary_games.each do |game| %>
                    <%= render :partial => 'games/primary_game', :locals => {:game => game}  %>
            <% end %>

    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.primarySlider').bxSlider({
                preloadImages: 'none',
                pager: false,
                minSlides: 3,
                maxSlides: 3,
                slideWidth: 360,
                slideHeight: 200,
                slideMargin: 0
            });
        });
    </script>
<% end %>
<%= render 'games/games' %>