<% if @primary_games && @primary_games.size > 0 && @page.to_i == 0 %>
    <div class="slider2">
            <% @primary_games.each do |game| %>
                    <%= render :partial => 'games/primary_game', :locals => {:game => game}  %>
            <% end %>

    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                pager: false,
                minSlides: 3,
                maxSlides: 3,
                slideWidth: 360,
                slideHeight: 200,
                slideMargin: 10
            });
            $('.slider2').bxSlider({
                pager: false,
                minSlides: 3,
                maxSlides: 3,
                slideWidth: 360,
                slideHeight: 200,
                slideMargin: 10
            });
        });
    </script>
<% end %>
<%= render 'games/games' %>