<% if @primary_games && @primary_games.size > 0 && @page.to_i == 0 %>
    <div class="hero-unit" style="padding: 20px;">
        <p><%= I18n.t('hello') %></p>
    </div>
<% end %>
<%= render 'games/games' %>