<p>Hello!</p>
<p>Your profile is ready.</p>
<p>You can login at <a href="http://oladium.com/developer">http://oladium.com/developer</a></p>
<p>Login: <%= @login %></p>
<p>Password: <%= @password %></p>
</br>
<p>Best wishes,</p>
<p>Oladium administration</p>
