
<div class="canvas span12" id="canvas">
  <ul id="sortable">
  </ul>
</div>

<% content_for :script do %>
  CONTROLLER_GATEWAY = '<%= admin_path(:action => 'controller_gateway') %>';
  gamesByNetId = {};
  $(function() {
		refreshSortables();
	});
  function refreshSortables(){
    $( "#sortable" ).sortable({
			revert: true
		});
    $( "ul, li" ).disableSelection();
  }
  function createGameItem(game){
    result = '';
    result +=
        '<li class="ui-state-default" style="position: relative;" id="' + (game.net + ':' + game.net_id) + '">' +
            '<a href="' + game.path + '"><img src="' + game.image + '" class="left" width="40" height="40"></img></a>' +
            '<div style="max-height: 55px; overflow: hidden;">' +
            '<span class="left"><a href="' + game.path + '"><b>' + game.title + '</b></a><br>' + (game.description ? game.description.substr(0, 100) : 0) + '</span>' +
            '</div>' +
            '<div class="right">';
    result+='<a href="javascript:" class="ss_add"><i class="icon-thumbs-up"></i></a>' + '<a href="javascript:" class="ss_delete"><i class=" icon-remove-sign"></i></a>';
    result +=
            '</div>' +
            '<small></small><div class="status_panel">-</div></small>' +
        '</li>';
    result = $(result);
    $('.ss_add', result).click(function(event){onAddGame(event, game.net, game.net_id)});
    $('.ss_delete', result).click(function(event){onDeleteGame(event, game.net, game.net_id)});
    refreshIcon(result, game);
    gamesByNetId[game.net + ":" + game.net_id] = game;
    return result;
  }
  function onDeleteGame(event, net, net_id){
    icon = $('#' + net + '\\:' + net_id);
    game = gamesByNetId[net + ":" + net_id];
    $.ajax({url:CONTROLLER_GATEWAY, data: {net_id: game.net_id, net: game.net, task: 'delete'}, success:function(data){
      game.new_record = true;
      refreshIcon(icon, game);
    }});
  }
  function onAddGame(event, net, net_id){
    icon = $('#' + net + '\\:' + net_id);
    game = gamesByNetId[net + ":" + net_id];
    $.ajax({url:CONTROLLER_GATEWAY, data: {game: JSON.stringify(game), task: 'add'}, success:function(data){
      game = $.parseJSON(data);
      refreshIcon(icon, game);
    }});
  }
  function refreshIcon(icon, game){
    $('.ss_add', icon).toggle(game.new_record);
    $('.ss_delete', icon).toggle(!game.new_record);
  }
  function loadGames(net){
    $('#sortable').empty().append($('<p>Loading...</p>'));
    $.ajax({url: '<%= admin_path(:action => 'games_gateway') %>', data: {net: net}, success: function(response){
      var games = $.parseJSON(response);
      var holder = $('#sortable')
      holder.empty();
      $.each(games, function(index, game){
        var icon = createGameItem(game);
        holder.append(icon);
      });
      refreshSortables();
    } });
  }
<% end %>

<% content_for :style do %>
  .canvas ul li { border: 1px solid #FCEFA1; background: #FFEEFF }
  .canvas ul { list-style-type: none; }
	.canvas li { margin: 5px; padding: 5px; width: 90%; min-height: 50px; vertical-align: top;}
  .left {float: left; margin-right: 10px;}
  .right {position: absolute; right: 5px; top: 5px;}
  .status_panel {position: absolute; bottom: 0; right: 0;}
  .icon {position: absolute; top: 0; right: 0;}
<% end %>