<ul>
    <li>
        <form>
            Mochi Grabber
            <input type="hidden" name="task" value="mochi_grabber">
            <input type="text" name="count" value="1000">
            <input type="submit" value="OK">
        </form>
    </li>
</ul>